body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#alerts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.alert-box {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-left: 5px solid #007bff;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 600px;
}

.alert-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.alert-box img {
    width: 50px;
    margin-right: 15px;
}

.alert-box p {
    margin: 0;
    color: #333;
    font-size: 1.1em;
}

.checklist-btn {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; /* This will push the button to the right */
}

.checklist-btn:hover {
    background-color: #45a049;
}
